<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644663398536-lof7rr3832gngsncrerl1du5ulq51dgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644663398536-lof7rr3832gngsncrerl1du5ulq51dgb</string>
	<key>API_KEY</key>
	<string>AIzaSyD4kiI37aT76sG39zB9yMzAN8A5s47L7y8</string>
	<key>GCM_SENDER_ID</key>
	<string>644663398536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.food.drink</string>
	<key>PROJECT_ID</key>
	<string>foodanddrink-a3b0a</string>
	<key>STORAGE_BUCKET</key>
	<string>foodanddrink-a3b0a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644663398536:ios:8044fa92b2ba98043c0f3d</string>
</dict>
</plist>